@import './../../../scss/variables.scss';
@import 'ckeditor5/ckeditor5.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media print {
  body {
    margin: 0 !important;
  }
}

.blog,
.blog__form__input-label__input,
.blog__form__btn{
  width: 100%;
}

.blog__form__input-label__input,
.blog__form__btn{
  background-color:$inputs-bc;
  font-weight: 200;
}

.blog__form__input-label__input::placeholder,
.blog__form__input-label__input,
.blog__form__btn{
  color: $text-color-inputs;
}

.blog__form__input-label__input__characters-container,
.blog__form__img-container{
  display: flex;
}

.blog__form__input-label__select,
.blog__form__input-label__select__options{
  background-color: #f0f8ff15;
}

.blog__form__img-container__delete-img,
.blog__form__btn{
  cursor: pointer;
}

h3{
  text-decoration: underline;
  padding: 0.3rem;
  margin: auto;
}

.blog{
  border-radius: 5px;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: $secondary-element-color;
  max-width: 67rem;

  &__form{
    &__input-label__input{
      font-size: larger;
      padding: 1rem 0.5rem 0.5rem 0.5rem;
      border: none;
      outline: none;
      margin: 0.7rem 0;

      &--txt-area{
        height: 16rem;
      }

      &--cb{
        width: auto;
        margin-left: 1rem;
      }

      &__characters-container{
        flex-direction: column;
        margin-bottom: 0.6rem;
      }

    }

    &__input-label__error-menssage{
      font-size: 0.7rem;
      color:$form-error-color;
      font-weight: 700;
    }

    &__input-label__select{
      border: none;
      padding: 0.3rem;
      border-radius: 3px;
      color: #fff;
      margin-left: 1rem;

      &__options{
        background-color: #2e666e;
        border: 1px solid transparent;
      }
    }

    &__img-container{
      width: 100%;
      background-color:$inputs-bc;
      justify-content: center;
      padding: 1rem;
      margin-bottom: 0.5rem;
      position: relative;

      &__img{
        max-width: 18rem;
        object-fit: scale-down;
      }

      &__delete-img{
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.65);
        width: 100%;
        height: 100%;
        align-content: center;
        text-align: center;
        font-size: 2.5rem;
        color: $main-card-delete-button-color;
      }

      &:hover &__delete-img{
        display: block;

      }
    }

    &__btn{
      border-radius: 10px;
      border: 1px solid #AFA3A3;
      font-weight: 500;
      padding: 1rem;
      margin-top: 0.5rem;
      text-align: center;
      transition: background-color 0.5s ease;
      border: none;


      &:hover{
        background-color:#bbacac7c ;
      }

      &:active{
        transform: scale(0.9);
      }
    }
  }
}
