<main class="about" @enterState>
  <h1>Historia Manija</h1>
  <div class="about__organize" (click)="userIsOrganizing()">
    <strong>{{'reorganizar'|titlecase}}</strong>
    <i class="fa-solid fa-shuffle about__section__organize__icon"></i>
  </div>
  <section class="about__section">
    <organize-cards class="about__section__organize-cards" *ngIf="isOrganizing"
              [aboutItemOrganizing]="filteredData()"
              (close)="userIsOrganizing()"
              (orderCompleted)="userOrganizeComplete()"/>
    <loading-animation *ngIf="isLoading"/>
    <span class="about__section__empty" *ngIf="aboutItems.length === 0; else aboutCards">No hay nada que mostrar <i class="fa-solid fa-dragon"></i></span>
    <ng-template #aboutCards>
      <div class="about__section__cards">
          <app-cards class="about__section__cards__card" *ngFor="let item of aboutItems" [objectTemplate]="item" (delete)="onCardDelete()"/>
      </div>
    </ng-template>

  </section>
  <new-btn [path]="aboutPath" class="about__new-btn" *ngIf="!isOrganizing"/>
</main>
