@import '../../../scss/variables.scss';


.menu,
.menu__btn{
  display: flex;
}

.active,
.menu__btn__icon:hover{
  opacity: 50%;
}

.menu{
    background-color: $secondary-element-color;
    border-radius: 0 0 10px 10px;
    color: $main-text-color;
    font-size: 1.6rem;
    justify-content: space-around;
    padding: 0.5rem 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 999;

    &__btn{
      align-items: center;
      flex-direction: column;
      transition: all 0.3s ease;
      cursor: pointer;

      &__name{
        font-size: 0.55rem;
      }

      &__icon:active{
        transform: scale(0.9);
      }
    }
  }

  // MEDIA QUERIES

  @media (min-width:500px) {
    .menu__btn__name{
      font-size: 0.8rem;
    }
  }

  @media (min-width:600px) {
    .menu{
      background-color: transparent;
      border-radius: 0 10px 10px 0;
      flex-direction: column;
      height: calc(100vh - 4rem);
      justify-content: center;
      position: fixed;
      width: 4rem;

      &__btn{
        background-color: $secondary-element-color;
        padding: 1rem;

        &:hover &__name{
          display: block;
        }

        &__name{
          background-color: rgba(0, 0, 0, 0.877);
          border-radius: 3px;
          color: #faebd7;
          display: none;
          left: 4rem;
          margin-left: 0.2rem;
          padding: 0 0.5rem;
          position: absolute;
          text-align: center;
      }

      &:first-child {
        border-radius: 0 10px 0 0;
      }

      &:last-child {
        border-radius: 0 0 10px 0;
      }
    }
  }
}
