<main class="manijometro">
  <h1>Manijometro</h1>
  <components-nav-bar (category)="onCategorySelected($event)" [categories]="categories"/>
  <section class="manijometro__section">
    <div class="manijometro__section__status">
      <span class="manijometro__section__status__item"  [ngClass]=" {'manijometro__section__status__item--selected':!votedGames}" (click)="filterBoardsByVoteStatus(false)">Sin Votar</span>
      <span class="manijometro__section__status__item"  [ngClass]=" {'manijometro__section__status__item--selected':votedGames}" (click)="filterBoardsByVoteStatus(true)">Votados</span>
    </div>
    <loading-animation *ngIf="isLoading"/>
    <span class="manijometro__section__empty" *ngIf="filteredBoardgames.length === 0; else items">No hay nada para mostrar <i class="fa-solid fa-dragon"></i></span>
    <ng-template #items>
      <div class="manijometro__section__cards">
        <div *ngFor="let mItem of filteredBoardgames" class="manijometro__section__cards__card" (click)="voteBoardGame(mItem._id)">
          <img src="../.././../../assets/570805.jpg" [alt]="mItem.title" class="manijometro__section__cards__card__img">
          <ul class="manijometro__section__cards__card__ul">
            <li class="manijometro__section__cards__card__ul__li manijometro__section__cards__card__ul__li--title"><strong>{{mItem.title}}</strong></li>
            <li class="manijometro__section__cards__card__ul__li  manijometro__section__cards__card__ul__li--position"><strong>#{{mItem.manijometroPosition}}</strong></li>
          </ul>
          <div class="manijometro__section__cards__card__cover">
            <i class="fa-solid fa-trophy"></i>
            <strong *ngIf="!votedGames; else changeVote">VOTAR</strong>
            <ng-template #changeVote>
              <strong>CAMBIAR VOTO</strong>
            </ng-template>
          </div>
        </div>
      </div>
    </ng-template>
  </section>
</main>

