<h3>Cambiar contraseña</h3>
<main class="update-password">
  <loading-animation *ngIf="loadingChanges"/>
  <form action="" class="update-password__form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div *ngFor="let input of inputs; let i = index" class="update-password__form__input-container">
      <div class="update-password__form__input-container__pass-icon">
        <input class="update-password__form__input-container__pass-icon__pass" [autocomplete]="input.controlName" [type]="input.typeInput" [formControlName]="input.controlName" [placeholder]="input.placeholder" />
        <i class="fa-solid fa-eye log-in__text update-password__form__input-container__pass-icon__icon" (click)="togglePassword(i)"></i>
      </div>
      <span class="update-password__form__input-container__error-menssage"
      *ngIf="isValidField(input.controlName)">{{showError(input.controlName)}}
      </span>
    </div>
    <button class="update-password__form__btn" type="submit" [disabled]="myForm.errors">Cambiar Contraseña</button>
  </form>
</main>
