@import '../../../scss/variables.scss';

.not-authorized{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $form-error-color;
  font-size: 100px;
}
