<main class="blogs">
  <h1>Blogs</h1>
  <components-nav-bar class="blogs__nav-bar" (category)="onCategorySelected($event)"[categories]="categories"/>
  <section class="blogs__section">
    <loading-animation *ngIf="isLoading"/>
    <span class="blogs__section__empty" *ngIf="blogs.length === 0; else blogsCards">No hay blogs <i class="fa-solid fa-dragon"></i></span>
    <ng-template #blogsCards>
      <div class="blogs__section__cards" >
          <app-cards class="blogs__section__cards__card" *ngFor="let blog of blogs" [objectTemplate]="blog" (delete)="onCardDelete()"/>
      </div>
    </ng-template>

  </section>
  <new-btn [path]="blogsPath" class="blogs__new-btn"/>
</main>

<!-- TODOÑ cambiar en el backend que las imagenes se guarden en vez del nombre del item con el id asi no tengo problema cuando se modifica el titulo -->
