
@import '../../../scss/variables.scss';

h1{
  padding-left: 0.5rem;
}

.blogs__section__cards,
.blogs__section__empty
{
  margin-top: 2rem;
}

.blogs{
  position: relative;
  &__new-btn{
    position: fixed;
    right: 0.8rem;
    bottom: 0.8rem;
    z-index: 999;
  }

  &__section {
    width: 100%;
    margin-top: 1.5rem;
    background-color: $main-element-color;
    padding: 1rem 0;
    display: flex;
    justify-content: center;

    &__cards {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;
      justify-content: center;
    }

    &__current-category{
      position: absolute;
      left: 1rem;
    }

    &__empty{
      font-weight: 100;
      font-size: 2rem;
    }
  }

  &__nav-bar{
    position: sticky;
    display: block;
    top: 4rem;
    z-index: 999;
  }
}


// MEDIA QUERIES

@media (min-width:600px) {
  .blogs{
    &__section__empty{
      font-size: 3rem;
    }
  }
  .blogs__nav-bar{
    top: 0;
  }
}

@media (min-width:850px) {
  .blogs__section__cards {
     grid-template-columns: repeat(2, 1fr);
   }
 }

@media (min-width:1100px) {
  .blogs{
    padding: 0;
  }
}

@media (min-width:1200px) {
  .blogs__section__cards {
     grid-template-columns: repeat(3, 1fr);
   }
 }

@media (min-width:1500px) {
 .blogs__section__cards {
    grid-template-columns: repeat(4, 1fr);
  }
}
