
.loading-animation{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.856);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 99999;

  & img{
    animation: loading-grey-efect 1.2s alternate infinite;
  }
}


@keyframes loading-grey-efect {
  from {filter: grayscale(0);}
  to {filter: grayscale(97%);}
}

.loading-animation--scroll-loading{
  bottom: 0;
  height: auto;
  top:auto;
  padding: 0.7rem 0;
}
