
@import '../../../scss/variables.scss';

.categories-bar{
  background-color: $secondary-element-color;
  color: $main-text-color;

  &__ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  width: 100%;
  gap: 0.5rem;

  &__li {
    padding: 0.5rem;
    font-size: x-small;
    cursor: pointer;
    white-space: nowrap;
    word-break: keep-all;
    hyphens: none;

    &:hover {
      background-color: rgba(240, 248, 255, 0.137);
    }

    &--selected {
      background-color: rgba(240, 248, 255, 0.137);
    }
  }
}
}

// MEDIA QUERIES

@media (min-width:800px) {
  .categories-bar__ul__li{
    font-size: medium;
  }
}
