
@import '../../../scss/variables.scss';

.header,
.header__text-brand,
.header__btn-user-info-container,
.header__btn-user-info-container__icons,
.header__btn-user-info-container__icons__messages__unread-messages{
  display: flex;
}

.header__text-brand,
.header__btn-user-info-container__icons__messages__unread-messages{
  align-items: center;
}

.header__btn-user-info-container__icons__messages__unread-messages,
.header__messages__all-messages_ul__li__date,
.header__messages__close-mark{
  position: absolute;
}

.header__btn-user-info-container__icons__messages__unread-messages,
  .header__messages__close-mark{
    right: 0;
  }

  .header__messages,
  .header__messages__all-messages_ul__li__message-control-container{
    position: fixed;
  }


.header__messages,
.header__messages__close-mark{
  top: 0;
}

.header__btn-user-info-container__icons,
.header__btn-user-info-container__info{
  margin-right: 0.7rem;
}

.header,
.header__messages{
  background-color: $main-element-color;
}

.header__btn-user-info-container__icons__messages__letter,
.header__btn-user-info-container__icons__logout,
.header__messages__close-mark,
.header__messages__all-messages_ul{
    cursor: pointer;
}

.header{
  justify-content: space-between;
  padding: 7px;
  width: 100%;
  color: $main-text-color;
  height: 4rem;


  &__btn-user-info-container{
    flex-direction: column;

      &__icons{
        font-size: 1.3rem;
        justify-content: flex-end;

        &__messages__letter,
        &__logout{
          &:hover{
            opacity: 50%;
          }
        }

  &__messages{
          margin-right: 0.5rem;
          padding-right: 0.5rem;
          position: relative;
          &__loading-messages{
            z-index: 10;
          }

          &__unread-messages{
            position:absolute;
            justify-content: center;
            top: -0.3rem;
            color: azure;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            font-size: 0.7rem;
            text-align: center;
            text-align: center;
            background-color: #d12f32
          }
        }
      }
  }

  &__text-brand{

    &__img-brand{
      width: 2rem;
      margin-right: 0.5rem;
    }

    &__text{
      font-size: 2rem;
      font-weight: bolder;
    }
  }

  &__messages{
    padding: 1rem;
    transform: translateX(40rem);
    width: 100%;
    left: 0;
    height: 100vh;
    z-index: 9999;
    transition: transform 1s ease;

    &__slice{
      overflow: auto;
      transform: translateX(0);
    }

    &__all-messages_ul{
      position: relative;
      list-style: none;
      border-radius: 5px;
      padding: 0.5rem 1rem 1rem;
      margin-bottom: 0.5rem;
      background-color: $secondary-element-color;
      transition: all 0.5s ease;
      font-size: small;

      &:hover{
        background-color: rgba(255, 228, 196, 0.11);
      }

      &__li__message-control-container{
        color: antiquewhite;
        right: 1.5rem;

        &__delete{
          color: $main-card-delete-button-color;
          padding: 0.3rem;
          font-size:larger;
          &:hover{
            color: #f0191d;
          }

          &:active{
            transform: scale(0.9);
          }
          cursor: pointer;
        }
      }

      &__li__date{
        font-size: x-small;
        bottom: 0;
        right: 0.5rem;
        margin-top: 0.5rem;
      }

      &__li--text-of{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      & span{
        font-weight: bolder;
      }

    }

        &__close-mark{
          padding: 0.5rem;
          z-index: 3;
        }

        &__all-messages__no-messages{
          font-size: x-large;
        }
    }
}

// MEDIA QUERIES
@media (min-width:600px) {
  .header__btn-user-info-container__icons{
    font-size: 1.5rem;
  }
}

@media (min-width:500px) {
  .header__messages{
    width: 25rem;
    top: 0;
    right: 0;
    left: auto;
  }
}

.header__messages__slice::-webkit-scrollbar {
  -webkit-appearance: none;
}

.header__messages__slice::-webkit-scrollbar:vertical {
  width:5px;
}

.header__messages__slice::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
  display: none;
}

.header__messages__slice::-webkit-scrollbar-thumb {
  background-color: $secondary-element-color;
  border-radius: 0 0 10px 10px;
}
