
@import '../../../scss/variables.scss';

.header,
.header__text-brand,
.header__btn-user-info-container,
.header__btn-user-info-container__icons,
.header__btn-user-info-container__icons__messages__unread-messages{
  display: flex;
}

.header__text-brand,
.header__btn-user-info-container__icons__messages__unread-messages{
  align-items: center;
}

.header__btn-user-info-container__icons,
.header__btn-user-info-container__info{
  margin-right: 0.7rem;
}

.header{
  justify-content: space-between;
  padding: 7px;
  width: 100%;
  color: $main-text-color;
  height: 4rem;
  background-color: $main-element-color;


  &__btn-user-info-container{
    flex-direction: column;

      &__icons{
        font-size: 1.3rem;
        justify-content: flex-end;

        &__messages__letter,
        &__logout{
          cursor: pointer;

          &:hover{
            opacity: 50%;
          }
        }

        &__messages{
          margin-right: 0.5rem;
          padding-right: 0.5rem;
          position: relative;

          &__unread-messages{
            position:absolute;
            justify-content: center;
            right: 0;
            top: -0.3rem;
            color: azure;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            font-size: 0.8rem;
            text-align: center;
            position: absolute;
            text-align: center;
            background-color: #d12f32
          }
        }
      }
  }

  &__text-brand{

    &__img-brand{
      width: 2rem;
      margin-right: 0.5rem;
    }

    &__text{
      font-size: 2rem;
      font-weight: bolder;
    }
  }

}

// MEDIA QUERIES
@media (min-width:600px) {
  .header__btn-user-info-container__icons{
    font-size: 1.5rem;
  }
}
