

h1{
    padding-left: 0.5rem;
  }

  .create-edit__form{
    display: flex;
    justify-content: center;
  }

  .create-edit__invalid{
    width: 100%;
    display: block;
    text-align: center;
    font-size: xxx-large;
  }
