
<main class="events">
  <h1>Eventos</h1>
  <section class="events__section">
    <div class="events__section__cards" >
      <div class="events__section__cards__container">
        <h3>Eventos Activos</h3>
        <app-cards class="events__section__cards__container__cards" *ngFor="let evento of eventos" [objectTemplate]="evento"></app-cards>
      </div>
       <event-sample-card class="events__section__sample-card"/>
    </div>
    <event-form class="events__section__form"/>
  </section>
  <new-btn [path]="eventPath" class="events__new-btn"/>
</main>
