
@import './../../../scss/variables.scss';

h1{
    padding-left: 0.5rem;
}

h3{
  border-bottom: 1px solid;
  font-weight: 300;
  text-align: center;
  width: 90%;
}

.events__section,
.events__section__cards__container{
  display: flex;
}
.events,
.events__card{
  position: relative;
}

.events__section__cards__container,
.events__section__new,
.events__card__section{
  border-radius: 5px;
}

.events__card__title,
.events__card__content{
  font-weight: 900;
}

.events__card,
.events__card__more-info{
  color: #fff;
}

.events{
  &__section{
    justify-content: space-evenly;

    &__cards__container{
      align-items: center;
      flex-direction: column;

      &__cards{
        margin-bottom: 1rem;
      }
    }
    &__form{
      display: none;

    }
  }

  &__new-btn{
    position: fixed;
    right: 0.8rem;
    bottom: 0.8rem;
    z-index: 999;
  }

      &__card{
      border-radius: 8px;
      margin-bottom: 0.8rem;
      padding: 0.3rem;
      max-width: 900px;
      background: linear-gradient(rgba(0, 213, 156, 0) 5.26%, rgb(24, 220, 255) 97.89%);

      &__title{
        margin-bottom: 0.3rem;
      }

      &__content{
        display: flex;

        &__img{
          width: 120px;
          object-fit: cover;
          border-radius: 9px;
          height: 5rem;

          &--meeple-with{
            width: auto;
          }
        }

        &__info-ul{
          list-style-type: none;
          padding-left: 1rem;

          &__item{
            font-size: smaller;
            font-weight: 900;
            margin-bottom: 0.2rem;
          }
        }
      }

      &__more-info{
        border-radius: 10px;
        bottom: 0;
        font-size: smaller;
        margin-bottom: 0.1rem;
        padding: 0.1rem 0.3rem;
        position: absolute;
        right: 0.3rem;
        text-decoration: none;
        transition: background-color 0.3s ease;
        cursor: pointer;

        &:hover{
          background-color: rgba(13, 14, 14, 0.192);
        }
      }
    }

    &__card__section{
      background-color: #111827;
      margin-top: 3rem;
      display: none;
    }
  }


@media (min-width:800px) {
  .events__section__form,
  .events__card__section{
    display: block;
  }

  .events__section__cards{
    width: 46vw;
    max-width: 32rem;
  }

  .events__card__section{
    padding: 1rem;
  }

  .events__section{
    &__cards__container{
      height: 34rem;
      overflow-y: scroll;
      padding: 1.5rem;
      background-color: $secondary-element-color;

      & h3{
        width: 100%;
      }
    }
  }

  .events__new-btn{
    display: none;
  }

}


.events__section__cards__container::-webkit-scrollbar {
  -webkit-appearance: none;
}

.events__section__cards__container::-webkit-scrollbar:vertical {
  width:5px;
}

.events__section__cards__container::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
  display: none;
}

.events__section__cards__container::-webkit-scrollbar:horizontal {
  height: 5px;
}

.events__section__cards__container::-webkit-scrollbar-thumb {
  background-color: $scroll-bar-color;
  border-radius: 10px;
}

.events__section__cards__container::-webkit-scrollbar-track {
  border-radius: 10px;
}
