
@import './../../../scss/variables.scss';

h1{
    padding-left: 0.5rem;
}

h3{
  border-bottom: 1px solid;
  margin-bottom: 1rem;
  font-weight: 300;
  text-align: center;
  width: 90%;
}

.events__section,
.events__section__cards__container{
  display: flex;
}
.events,
.events__card{
  position: relative;
}

.events__section__cards__container,
.events__section__new,
.events__card__section{
  border-radius: 5px;
}

.events__card__title,
.events__card__content{
  font-weight: 900;
}

.events__section__form,
.events__section__sample-card{
  display: none;
}

.events{
  &__section{
    justify-content: space-evenly;
    background-color: $secondary-element-color;

    &__cards__container{
      align-items: center;
      flex-direction: column;
      margin-bottom: 4rem;

      &__cards{
        margin-bottom: 1rem;
      }
    }
  }

  &__new-btn{
    position: fixed;
    right: 0.8rem;
    bottom: 0.8rem;
    z-index: 999;
  }
}

// MEDIA QUERIES

@media (min-width:800px) {
  .events__section__form,
  .events__section__sample-card{
    display: block;
  }

  .events__section__cards{
    width: 46vw;
    max-width: 32rem;
  }

  .events__card__section{
    padding: 1rem;
  }

  .events__section{
    &__cards__container{
      overflow-y: scroll;
      padding: 1.5rem;
      background-color: $secondary-element-color;

      & h3{
        width: 100%;
      }
    }
  }

  .events__new-btn{
    display: none;
  }

}

// Scroll-Bar Styles
.events__section__cards__container::-webkit-scrollbar {
  -webkit-appearance: none;
}

.events__section__cards__container::-webkit-scrollbar:vertical {
  width:5px;
}

.events__section__cards__container::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
  display: none;
}

.events__section__cards__container::-webkit-scrollbar:horizontal {
  height: 5px;
}

.events__section__cards__container::-webkit-scrollbar-thumb {
  background-color: $scroll-bar-color;
  border-radius: 10px;
}

.events__section__cards__container::-webkit-scrollbar-track {
  border-radius: 10px;
}
