
<main class="events">
  <h1>Eventos</h1>

  <section class="events__section">

    <div class="events__section__cards" >
      <div class="events__section__cards__container">
        <h3>Eventos Activos</h3>
        <app-cards class="events__section__cards__container__cards" *ngFor="let evento of eventos" [objectTemplate]="evento"></app-cards>
      </div>

      <article class="events__card__section">
        <h4 class="events__card__section__title" >Ejemplo visual del Evento</h4>
        <div class="events__card">
          <h4 class="events__card__title">pedrito</h4>
          <div class="events__card__content">
            <img class="events__card__content__img" src="../../../../assets/images.jpeg" alt="pepito">
            <ul class="events__card__content__info-ul">
              <li class="events__card__content__info-ul__item">Dia/s: 123123</li>
              <li class="events__card__content__info-ul__item">Horario: qweqqe</li>
              <li class="events__card__content__info-ul__item">Lugar: jsubhsysisyft</li>
            </ul>
          </div>
        </div>
      </article>
    </div>
    <event-form class="events__section__form"/>
  </section>


  <new-btn [path]="eventPath" class="events__new-btn"/>
<!-- TODO: desaparecer boton cuando la pantalla llega a 850px -->

