<main class="boards">
  <h1>Board Games</h1>
  <components-nav-bar class="boards__nav-bar" (category)="onCategorySelected($event)" [categories]="categories"/>
  <search-bar (searchQuery)="onSearch($event)" class="boards__search-bar"/>
  <section class="boards__section">
    <loading-animation *ngIf="isLoading" [isScrolling]="isScrolling"/>
    <span class="boards__section__empty" *ngIf="boards.length === 0; else boardsCards">No hay Boardgames <i class="fa-solid fa-dragon"></i></span>
    <ng-template #boardsCards>
      <div class="boards__section__cards" >
          <app-cards class="boards__section__cards__card" *ngFor="let board of boards" [objectTemplate]="board" (delete)="onCardDelete()"/>
      </div>
    </ng-template>

  </section>
  <new-btn [path]="boardsPath" class="boards__new-btn"/>
</main>

