
@import './../../../scss/variables.scss';

.events,
.events__form,
.events__form__img-container,
.events__form__input__check-box-cont{
  display: flex;
}
.events,
.events__form{
  flex-direction: column;
}
.events,
.events__form__input__check-box-cont{
  align-items: center;
}

.events__form__btn,
.events__form__img-container__mark{
  cursor: pointer;
}

h3{
  border-bottom: 1px solid;
  font-weight: 300;
  text-align: center;
  width: 90%;
  max-width: 36rem;
}

.events{
  padding: 1.5rem;
  background-color: $secondary-element-color;
  border-radius: 5px;
  margin-bottom: 2rem;

  &__form{
    width: 29vw;

    &__input{
      background-color:$inputs-bc;
      color: $text-color-inputs;
      font-size: larger;
      font-weight: 200;
      padding: 1rem 0.5rem 0.5rem 0.5rem;
      border: none;
      outline: none;
      margin: 1rem 0;

      &::placeholder{
        color: $text-color-inputs;
      }

      &:focus{
        background-color: rgba($color: #999, $alpha: 0.1);
        }

        &--selector{
          width: 3rem;
          padding: 0;
          margin-left: 0.8rem;
          border-radius: 3px;
        }

        &--option:hover{
          background-color: #99999941 !important;
        }

        &--margin-l{
          margin-left: 0.5rem;
        }

      }

      &__btn{
        border-radius: 10px;
        border: 1px solid #AFA3A3;
        font-weight: 500;
        padding: 1rem;
        text-align: center;
        transition: background-color 0.5s ease;

        &:hover{
          background-color:#7e75754d ;
        }

        &:active{
          transform: scale(0.9);
        }
      }

      &__img-container{
        position: relative;
        width: 100%;
        background-color:$inputs-bc;
        padding: 1rem;

        &__img{
          object-fit: scale-down;
          width: 100%;
        }

        &__mark{
          position: absolute;
          font-size: x-large;
          top: -0.8rem;
          right: -0.8rem;

          &:active{
            transform: scale(0.9);
          }
        }
      }
    }

  }
