<loading-animation *ngIf="uploadingAboutItem"/>
 <div class="about">
  <h2>Fragmento de historia Manija</h2>
  <form class="about__form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="about__form__input-label" *ngFor="let input of aboutInputs">
      <label class="about__form__input-label__label" *ngIf="input.label.length > 0">{{input.label}}</label>
      <input class="about__form__input-label__input"
              [formControlName]="input.name"
              [maxLength]="input.maxLenght"
              [type]="input.type"
              accept="image/*"
              [placeholder]="input.placeHolder"
              *ngIf="input.type !== 'textArea'; else textArea"
              (change)="input.type === 'file' ? onFileSelected($event) : null">
              <div class="about__form__img-container" *ngIf="imgSrc[0] && input.name === 'img'">
                <img  [src]="imgSrc[0]" alt="event-Img" class="about__form__img-container__img">
              </div>
      <ng-template #textArea>
        <div class="about__form__input-label__input__characters-container">
          <ckeditor
            [formControlName]="input.name"
            [editor]="Editor"
            [config]="editorConfig"
            (change)="countingChar($event)"
            name="editor">
          </ckeditor>
          <span>Caracteres: {{charCount}} / Promedio de caracteres de "Fragmentos de historia Manija": 150</span>
          <span class="about__form__input-label__error-menssage"
              *ngIf="isValidField(input.name)">{{showError(input.name)}}
              </span>
        </div>
      </ng-template>
    </div>
    <label class="about__form__input-label__label" >Publicar:</label>
    <input type="checkbox" formControlName="publish" class="about__form__input-label__input--cb" >
    <button type="submit" class="about__form__btn">Guardar</button>
  </form>
 </div>
