@import './../../../scss/variables.scss';
@import 'ckeditor5/ckeditor5.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@media print {
  body {
    margin: 0 !important;
  }
}

.board-games,
.board-games__form__input-label__input,
.board-games__form__btn,
.board-games__form__img-container,
.board-games__form__img-container__img,
.board-games__form__img-container__img--card-cover{
  width: 100%;
}

.board-games__form__input-label__input,
.board-games__form__btn{
  background-color:$inputs-bc;
  font-weight: 200;
}

.board-games__form__input-label__input::placeholder,
.board-games__form__input-label__input,
.board-games__form__btn{
  color: $text-color-inputs;
}

.board-games__form__input-label__input__characters-container,
.board-games__form__img-container,
.board-games__form__key-words{
  display: flex;
}

.board-games__form__input-label__select,
.board-games__form__input-label__select__options{
  background-color: #f0f8ff15;
}

.board-games__form__key-words__word__close-mark,
.board-games__form__input-label__select__explanation,
.board-games__form__btn,
.board-games__form__categories-ul__close-mark,
.board-games__form__img-container__delete-img{
  cursor: pointer;
}

h3{
  text-decoration: underline;
  padding: 0.3rem;
  margin: auto;
}

.board-games,
.board-games__form__key-words,
.board-games__form__key-words__word{
  position: relative;
}

.board-games{
  border-radius: 5px;
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: $secondary-element-color;
  max-width: 67rem;

  &__no-scroll{
    overflow: hidden;
  }

  &__form{
    &__input-label__input{
      font-size: larger;
      padding: 1rem 0.5rem 0.5rem 0.5rem;
      border: none;
      outline: none;
      margin: 0.7rem 0;

      &--txt-area{
        height: 16rem;
      }

      &--cb{
        width: auto;
        margin-left: 1rem;
      }

      &__characters-container{
        flex-direction: column;
        margin-bottom: 1rem;
      }

      &__characters-average{
        color:$form-character-average;
        &--violet{
          color: $form-character-average-violet;
        }
      }

    }

    &__key-words{
      list-style: none;
      padding: 0;
      font-size: small;
      flex-wrap: wrap;
      justify-content: start;
      gap: 10px;


      &__word{
      position: relative;
      background: #80808073;
      padding: 0.1rem 0.4rem;
      border-radius: 10px;

      &__close-mark{
        position: absolute;
        top: -6px;
        right: -1px;
        &:hover{
          color: rgb(194, 62, 62);
        }
      }
      }
    }

    &__input-label__select{
      border: none;
      padding: 0.3rem;
      border-radius: 3px;
      color: #fff;
      margin-left: 1rem;

      &__options{
        background-color: #2e666e;
        border: 1px solid transparent;
      }

      &__explanation{
        margin-left: 0.5rem;
        display: inline;
        font-size: medium;

        &:hover &__hover-text{
          display: inline-block;
        }

        &__hover-text{
          display: none;
          position: absolute;
          font-size: x-small;
          padding: 0 0.2rem;
          margin-left: 0.3rem;
          background-color: #000000ba;
          border-radius: 3px;
        }
      }
    }

    &__input-label__error-menssage{
      display: block;
      font-size: 0.7rem;
      color:$form-error-color;
      font-weight: 700;
    }

    &__img-container{
      background-color:$inputs-bc;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      position: relative;
      overflow: hidden;

      &__img{
        height: auto;
        object-fit: cover;

        &--card-cover{
          height: 10rem;
          max-width: 34rem;
          object-fit: cover;
        }
      }

      &__images{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
      }

      &__delete-img{
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.65);
        width: 100%;
        height: 100%;
        align-content: center;
        text-align: center;
        font-size: 2.5rem;
        color: $main-card-delete-button-color;
      }

      &:hover &__delete-img{
        display: block;
      }

      &--card-cover{
        margin-bottom: 0.5rem;
      }
    }

    &__btn{
      border-radius: 10px;
      border: 1px solid #AFA3A3;
      font-weight: 500;
      padding: 1rem;
      text-align: center;
      transition: background-color 0.5s ease;
      border: none;

      &--small{
        width: 7rem;
        padding: 0.6rem;
      }

      &:hover{
        background-color:#bbacac7c ;
      }

      &:active{
        transform: scale(0.9);
      }
    }
  }

  &__form__categories-ul{
    position: absolute;
    display: none;
    height: 100%;
    left: 0;
    top: 0;
    background: #000000c4;
    overflow: auto;
    padding: 6rem 1.5rem;

    &--active{
      display: block;
    }
    &__close-mark{
      position: absolute;
      top: 4rem;
      right: 0.6rem;
      font-size: medium;
      padding: 0.6rem;

      &:active{
        transform: scale(0.9);
      }
    }

    &--not-dot{
      list-style-type: none;
    }
  }

  &__unsave-icon{
    position: fixed;
    right: 0.5rem;
    bottom: 0.5rem;
  }
}

// SCROLL BAR
.board-games__form__input-label__select::-webkit-scrollbar {
  display: none;
}

// MEDIA QUERIES
@media (min-width:600px) {
  .board-games__form__categories-ul{
    padding: 1rem 5.5rem;

    &__close-mark{
      top: 1rem;
      right: 1rem;
      font-size: x-large;
    }

  }
  .board-games__form__img-container__img--card-cover{
    height: 35vh;
    max-width: none;
    object-fit: cover;
  }
}
