<loading-animation *ngIf="uploadingBoardG"/>
<div class="board-games" [ngClass]="{'board-games__no-scroll': isExplanationOpen}">
  <h2>Board Games</h2>
  <form class="board-games__form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="board-games__form__input-label" *ngFor="let input of aboutInputs">
      <!-- LABEL -->
      <label class="board-games__form__input-label__label" *ngIf="input.label.length > 0">{{input.label}}</label>
      <!-- KEY-WORDS -->
      <ul *ngIf="input.name === 'categoryChips'" class="board-games__form__key-words">
        <li *ngFor="let word of keywords" class="board-games__form__key-words__word">
          {{word | titlecase}}
          <i class="fa-solid fa-xmark board-games__form__key-words__word__close-mark" (click)="deleteTag(word)"></i>
        </li>
        <li *ngIf="keywords.length  === 0">Aun no hay Tags para este Board <i class="fa-brands fa-d-and-d"></i></li>
      </ul>
      <!-- DINAMIC INPUTS -->
      <input class="board-games__form__input-label__input"
      [formControlName]="input.name"
      [maxLength]="input.maxLenght"
      step="1"
      [type]="input.type"
      [placeholder]="input.placeHolder"
      *ngIf="input.type !== 'textArea' && input.type !== 'select'; else textArea"
      [attr.multiple]="input.name === 'img' ? true : null"
      accept="image/*"
      (change)="input.type === 'file' ? onFileSelected($event, input.name) : null">
      <span class="board-games__form__input-label__error-menssage"
              *ngIf="isValidField(input.name)">{{showError(input.name)}}
              </span>
              <div *ngIf="input.name === 'categoryChips'" (click)="saveNewTag()" class="board-games__form__btn board-games__form__btn--small">Agregar Tag</div>
              <!-- TEXTAREA-CKEDITOR -->
      <div *ngIf="input.type === 'textArea'">
        <ckeditor
        [formControlName]="input.name"
        [editor]="Editor"
        [config]="editorConfig"
        (change)="countingChar($event)"
        name="editor">
      </ckeditor>
      <!-- CHARACTERS COUNT -->
      <span>Caracteres: {{charCount}} </span>
      <span>/ Promedio de caracteres en las "reseñas": 150</span>
    </div>
    <!-- IMAGES -->
    <div *ngIf="input.name === 'img'">
      <!-- CARD-COVER IMG -->
      <div *ngIf="cardCoverImgSrc.length === 1">
        <div class="board-games__form__img-container board-games__form__img-container--card-cover"
        *ngFor="let cardCoverItem of cardCoverImgSrc; index as i"
        (click)="deleteImg(currentBoardgame.cardCoverImgName)" >
          <img  [src]="cardCoverItem" [alt]="cardCoverItem"  class="board-games__form__img-container__img board-games__form__img-container__img--card-cover">
          <i class="fa-regular fa-trash-can board-games__form__img-container__delete-img" *ngIf="showDeleteBtn(cardCoverItem, currentBoardgame, i)"></i>
        </div>
      </div>
      <!-- REGULAR IMGS -->
      <div *ngIf="imgSrc.length > 0" class="board-games__form__img-container__images">
        <div *ngFor="let image of imgSrc; index as i" class="board-games__form__img-container">
          <img  [src]="image" [alt]="image" class="board-games__form__img-container__img">
          <i class="fa-regular fa-trash-can board-games__form__img-container__delete-img" *ngIf="showDeleteBtn(image, currentBoardgame, i), else reset"
          (click)="deleteImg(currentBoardgame.imgName[i])"></i>
          <ng-template #reset>
            <i class="fa-solid fa-recycle board-games__form__img-container__delete-img" (click)="resetSelectedImages()"> RESET</i>
          </ng-template>
        </div>
      </div>
    </div>
      <ng-template #textArea>
        <!-- SELECT SECTION (CATEGORY-REPLAYABILITY-DIFICULTY) -->
        <div class="board-games__form__input-label__input__characters-container">
        <div *ngIf="input.type === 'select'">
          <label for="options">{{this.input.placeHolder}}</label>
          <select id="options" [formControlName]="input.name" class="board-games__form__input-label__select">
            <option value="" disabled>Elija una opción</option>
            <option *ngFor="let option of input.selectOptions" class="board-games__form__input-label__select__options">
              {{ option }}
            </option>
          </select>
          <div class="board-games__form__input-label__select__explanation" *ngIf="input.name === 'category'" (click)="openExplanation()">
            <i class="fa-solid fa-circle-info"></i>
            <span class="board-games__form__input-label__select__explanation__hover-text">"Haz clic para saber más de cada categoría."</span>
          </div>
        </div>
      </div>
      </ng-template>
    </div>
    <!-- PUBLISH CHECKBOX -->
    <label class="board-games__form__input-label__label">publicar: </label>
    <input class="board-games__form__input-label__input board-games__form__input-label__input--cb" formControlName="publish" type="checkbox">
    <!-- BTN -->
    <button type="submit" class="board-games__form__btn">Guardar</button>
    <!-- CATEGORIES EXPOLANATION -->
    <ul class="board-games__form__categories-ul" [ngClass]="{'board-games__form__categories-ul--active': isExplanationOpen}">
      <li class="board-games__form__categories-ul--not-dot"><h2>Explicación de cada categoria</h2></li>
      <li class="board-games__form__categories-ul__close-mark board-games__form__categories-ul--not-dot" (click)="openCloseExplanation()">
        <i class="fa-solid fa-circle-xmark events__form__img-container__mark"></i>
      </li>
      <li *ngFor="let category of categoryExplanation"><p>{{category}}</p></li>
    </ul>
  </form>
 </div>
