<!-- <loading-animation/> -->
<div class="board-games">
  <h3>Board Games</h3>
  <form class="board-games__form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="board-games__form__input-label" *ngFor="let input of aboutInputs">
      <label class="board-games__form__input-label__label" *ngIf="input.label.length > 0">{{input.label}}</label>
      <input class="board-games__form__input-label__input"
              [formControlName]="input.name"
              [maxLength]="input.maxLenght"
              step="1"
              [type]="input.type"
              [placeholder]="input.placeHolder"
              *ngIf="input.type !== 'textArea' && input.type !== 'select'; else textArea"
              [attr.multiple]="input.name === 'img' ? true : null"
              accept="image/*"
              (change)="input.type === 'file' ? onFileSelected($event) : null"

              [ngClass]="{'board-games__form__input-label__input--cb': input.type === 'checkbox'}">
              <div class="board-games__form__img-container" *ngIf="imgSrc && input.name === 'img'">
                <img  [src]="imgSrc" alt="event-Img" class="board-games__form__img-container__img">
              </div>
      <ng-template #textArea>
        <div class="board-games__form__input-label__input__characters-container">
          <div *ngIf="input.type === 'textArea'">
            <ckeditor
              [formControlName]="input.name"
              [editor]="Editor"
              [config]="editorConfig"
              (change)="countingChar($event)"
              name="editor">
            </ckeditor>
            <span>Caracteres: {{charCount}} </span>
            <span>/ Promedio de caracteres en las "reseñas": 150</span>
          </div>
            <div *ngIf="input.type === 'select'">
              <label for="options">{{this.input.placeHolder}}</label>
              <select id="options" [formControlName]="input.name" class="board-games__form__input-label__select">
                <option *ngFor="let option of input.selectOptions" class="board-games__form__input-label__select__options">
                  {{ option }}
                </option>
              </select>
          </div>
        </div>
      </ng-template>
    </div>
    <button type="submit" class="board-games__form__btn">Guardar</button>
  </form>
  <p class="board-games__category-explanation">{{boardExplanation}}</p>
 </div>
