@import '../../../scss/variables.scss';

h1{
  padding-left: 0.5rem;
}

.control-panel__section__btn__ul,
.control-panel__section__cards__ul{
  display: flex;
  list-style: none;
}
.control-panel{
  &__section {
    width: 100%;
    margin-top: 1.5rem;
    background-color: $main-element-color;
    padding: 1rem;

    &__btn__ul{
      gap: 1rem;
      padding: 0.6rem 0.3rem;
      margin-bottom: 1.4rem;
      border-bottom: 1px solid $main-element-division-border-color;

      &__li{
        padding: 0.3rem;
        cursor: pointer;
        &:hover{
          background-color: $main-element-color-hover;
        }
      }
    }

    &__cards__ul{
      gap: 1rem;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0;
    }
  }

  &__new{
    position: fixed;
    right: 0.8rem;
    bottom: 0.8rem;
    z-index: 999;
  }
}
