@import '../../../scss/variables.scss';

h1{
  padding-left: 0.5rem;
}

.control-panel{
  &__section {
    width: 100%;
    margin-top: 1.5rem;
    background-color: $main-element-color;
    padding: 1rem;

    &__btn__ul{
      list-style: none;
      display: flex;
      gap: 1rem;
      padding: 0.6rem 0.3rem;
      margin-bottom: 1.4rem;
      border-bottom: 1px solid $main-element-division-border-color;

      &__li{
        padding: 0.3rem;
        cursor: pointer;
        &:hover{
          background-color: $main-element-color-hover;
        }
      }
    }
  }
}
