<main class="control-panel" @enterState>
  <h1>Panel de Control</h1>
  <loading-animation *ngIf="loading"/>
  <section class="control-panel__section">
    <div class="control-panel__section__btn">
      <ul class="control-panel__section__btn__ul">
        <div *ngFor="let btn of btns">
          <li *ngIf="FilterBtns(btn)" class="control-panel__section__btn__ul__li" (click)="getAllUsers(btn)">{{btn | titlecase}}</li>
        </div>
      </ul>
    </div>
    <div>
      <update-password *ngIf="selectedBtn === 'cambiar contraseña'"/>
       <section class="control-panel__section__cards" *ngIf="selectedBtn === 'Modificar Usuario'">
        <h3>Lista de Usuarios</h3>
        <ul class="control-panel__section__cards__ul">
          <li *ngFor="let user of users" class="control-panel__section__cards__ul__li">
            <user-card [user]="user" (delete)="onCardDelete()"/>
          </li>
        </ul>
       </section>
    </div>
  </section>
</main>
<new-btn class="control-panel__new" [path]="newUserPath" *ngIf="currenUserRol === masterRole"/>

