@import '../../../scss/variables.scss';


h2{
  padding-left: 0.5rem;
}

.game-manijometro,
.game-manijometro__title-img,
.game-manijometro__section,
.game-manijometro__section__form,
.game-manijometro__section__form__container{
  display: flex;
}

.game-manijometro,
.game-manijometro__section{
  width: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.game-manijometro,
.game-manijometro__section__form__container{
  justify-content: center;
}

.game-manijometro__section__form,
.game-manijometro__section__form__container{
  flex-direction: column;
}

.game-manijometro__section__form__container__input,
.game-manijometro__section__form__container__btn{
  background-color:$inputs-bc;
  border: none;
}

.game-manijometro__section__form__container__btn,
.game-manijometro__section__form__container__input{
  color: $text-color-inputs;
}

.game-manijometro{
  position: relative;
  margin-top: 3rem;

  &__title-img{
    align-items: center;
    gap: 0.5rem;
    position: absolute;

    &__title{
      text-decoration: underline;
    }

    &__img--small{
      width: 4rem;
    }

  }

  &__section{
    margin-top: 5rem;
    background-color: $main-element-color;
    padding: 1rem 0;
    max-width: 57rem;
    flex-direction: column-reverse;
    align-items: center;

    &__form{
      align-items: center;
      gap: 0.8rem;

      &__container__input{
        font-weight: 200;
        width: 15rem;
        padding: 0.5rem;
        border: none;
        outline: none;

        &__error{
          color: $form-error-color;
          font-size: x-small;
        }
      }

      &__container__btn{
        width: 9rem;
        padding: 1rem;
        transition: all 0.5s ease;
        cursor: pointer;

        &:hover{
          opacity: 0.6;
        }
      }

    }
    &__info-img{
      &__ul{
        list-style: none;
        padding: 0;
        margin-bottom: 1rem;
        font-size: larger;

        &__li{
          margin-bottom: 0.6rem;
        }
      }

      &__img{
        display: none;
      }
    }
  }
}

@media (min-width:700px) {
  .game-manijometro__section{
    flex-direction: row;
    justify-content: space-around;
  }
  .game-manijometro__section__info-img__img{
    display: block;
    object-fit: contain;
  }

.game-manijometro__title-img__img--small{
      display: none;
    }
}
