<main class="card" [ngClass]="{'card--event': isEventCategory}">
  <div class="card__header">
    <img class="card__header__img" src="C:\Users\Fran\Desktop\Programacion\manija-backend\upload\EVENTS\sample\QRAlias_CBU-bc77dbebba13cd68f0f82bda5e318955.png" [alt]="objectTemplate.title">
    <span class="card__header__manijometro" *ngIf="!isEventCategory">#{{objectTemplate.manijometro}}</span>
    <span class="card__header__edition-label" *ngIf="objectTemplate.publish">En edición</span>
  </div>
  <section class="card__section">
    <h3 class="card__section__title"> {{objectTemplate.title}}</h3>
    <div >
      <ul class="card__section__ul-info"  *ngIf="isEventCategory; else paragraph" >
        <li class="card__section__ul-info__li-info">- {{objectTemplate.info.eventDate | date}} </li>
        <li class="card__section__ul-info__li-info">- {{objectTemplate.info.startTime}} a {{objectTemplate.info.finishTime}} hs </li>
        <li class="card__section__ul-info__li-info">- {{objectTemplate.info.eventPlace}} </li>
        <li class="card__section__ul-info__li-popup">{{objectTemplate.info.eventPlace}}</li>
      </ul>
    </div>
    <ng-template #paragraph>
      <p class="card__section__p-info">{{objectTemplate.info}}</p>
    </ng-template>
    <ul class="card__section__menu">
      <li class="card__section__menu__btn card__section__menu__btn--edit"><i class="fa-solid fa-pen"></i></li>
      <li class="card__section__menu__btn card__section__menu__btn--delete"><i class="fa-solid fa-trash"></i></li>
      <li class="card__section__menu__btn card__section__menu__btn--manijometro" *ngIf="!isEventCategory"
          [ngClass]=" {'card__section__menu__btn--voted':objectTemplate.hasVoted}"
          (mouseenter)="isBoardVoted(objectTemplate.hasVoted!)"
          (mouseleave)="isBoardVoted(objectTemplate.hasVoted!)"><i class="fa-solid fa-trophy"></i></li>
    </ul>
    <p class="card__section__warning" *ngIf="isTheBoardVoted">Ya has votado este juego, click para cambiar tu voto</p>
  </section>
</main>

