<main class="card">
  <div class="card__header">
    <img class="card__header__img" src="../../../../assets/images.jpeg" alt="">
    <span class="card__header__manijometro">#12</span>
  </div>
  <section class="card__section">
    <h3 class="card__section__title"> Pepito</h3>
    <ul class="card__section__ul-info" *ngIf="false; else paragraph">
      <li>asdasdasd</li>
    </ul>
    <ng-template #paragraph>
      <p class="card__section__p-info">the board game, has taken the world by storm with over two million copies sold...</p>
    </ng-template>
      <ul class="card__section__menu">
      <li class="card__section__menu__btn card__section__menu__btn--edit"><i class="fa-solid fa-pen"></i></li>
      <li class="card__section__menu__btn card__section__menu__btn--delete"><i class="fa-solid fa-trash"></i></li>
      <li class="card__section__menu__btn card__section__menu__btn--manijometro"><i class="fa-solid fa-trophy"></i></li>
    </ul>
  </section>
</main>
