
@import '../../../scss/variables.scss';

.card,
.card__section__menu,
.card__section__menu__li{
  display: flex;
}

.card,
.card__header{
  overflow: hidden;
}
.card__header,
.card__section{
  position: relative;
}

.card__header,
.card__header__img{
  width: 100%;
}

.card__header__manijometro,
.card__section__menu__btn,
.card__header__edition-label,
.card__section__warning{
  text-align: center;
  color: #fff;
}

.card__header__manijometro,
.card__section__edition-label,
.card__section__warning,
.card__header__edition-label{
  position: absolute;
}

.card__section__title
{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.card__section__p-info{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em;
  height: 4.5rem;
  max-height: 4.5em;
}

.card{
  flex-direction: column;
  background-color: #f0ffff;
  border-radius: 11px;
  color: #000;
  min-width: 310px;
  max-width: 19.3rem;

  &__header{
    max-height: 9rem;

    &__img{
      height: 13rem;
      object-fit: cover;
      position: relative;
      z-index: 3;
    }

    &__manijometro{
      text-shadow: 1px 3px 5px #000;
      right: 0.2rem;
      top: 0.5rem;
      font-weight: 900;
      font-size: xx-large;
      z-index: 99;
    }

    &__edition-label{
      rotate: -45deg;
      width: 11rem;
      font-size: smaller;
      bottom: 1rem;
      right: -3.85rem;
      color: #fff;
      background-color: #FF8800;
      font-weight: 100;
      z-index: 3;
    }
  }

  &__section{
    padding: 1rem;
    font-weight: 300;
    font-size: small;

    &__title{
      font-size: medium;
      margin: 0;
    }

    &__menu{
      padding: 0;
      list-style: none;
      justify-content: space-between;


      &__btn{
        width: 2.3rem;
        padding: 0.3em 0;
        margin: 0 0.4rem;
        border-radius: 4px;
        text-align: center;
        transition: all 0.5s ease;
        cursor: pointer;

        &:hover{
          opacity: 0.7;
        }

        &--edit{
          background-color: $main-card-edit-button-color;
        }

        &--delete{
          background-color: $main-card-delete-button-color;
        }

        &--manijometro{
          background-color: $main-card-manijoimetro-button-color;
        }

        &--voted{
          background-color: #808080;
        }
      }

    }

    &__warning{
      bottom: 2.2rem;
      background: #000000de;
      font-size: xx-small;
      z-index: 2;
      padding: 0.2rem;
      text-align: center;
      border-radius: 3px;
      right: 0.3rem;
    }
  }


  &--event{
    flex-direction: row-reverse;

    .card__header__manijometro{
      font-size: x-large;
    }

    .card__header__img{
      height: 100%;
      border-radius: 10px;
    }
    .card__section,
    .card__section__ul-info{
      display: flex;
      flex-direction: column;
    }

    .card__section__ul-info__li-info,
    .card__section__p-info{
      overflow: hidden;
      width: 7.5rem;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .card__section{
      padding: 0.5rem;
      justify-content: space-between;
      width: 19rem;

      &__ul-info{
        font-size: smaller;
        font-weight: 300;
        margin-bottom: 0.5rem;
        padding-left: 1rem;

        &__li-popup{
          background-color: aliceblue;
          border-radius: 4px;
          bottom: 2.93rem;
          box-shadow: 1px 1px 4px;
          list-style-type: none;
          opacity: 0;
          padding: 0.5rem;
          position: absolute;
          width: 17rem;
          transition: opacity 0.3s ease;

          &:hover{
            opacity: 100%;
            z-index: 3;
          }
        }

        & li{
          font-size: small;
          line-height: 14.5px;

        }
      }
    }
  }
}


